ILinxConnector/Source/ILinxConnector/ILinxSoapImport/Connected Services/EdmsService/ContentStore2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ImageSource.ILINX.CommonILINX.BarcodeLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ImageSource.ILINX.CommonILINX.BarcodeLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://edmsimagingtest2.kingcounty.gov/ILINXCSService/ContentStore.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ImageSource.ILINX.CommonILINX.CaptureDomain.Barcode" />
  <xs:complexType name="ArrayOfBarcodeConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BarcodeConfiguration" nillable="true" type="tns:BarcodeConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBarcodeConfiguration" nillable="true" type="tns:ArrayOfBarcodeConfiguration" />
  <xs:complexType name="BarcodeConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="BarcodeActions" nillable="true" type="tns:ArrayOfBarcodeAction" />
      <xs:element minOccurs="0" name="DocTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BarcodeConfiguration" nillable="true" type="tns:BarcodeConfiguration" />
  <xs:complexType name="ArrayOfBarcodeAction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BarcodeAction" nillable="true" type="tns:BarcodeAction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBarcodeAction" nillable="true" type="tns:ArrayOfBarcodeAction" />
  <xs:complexType name="BarcodeAction">
    <xs:sequence>
      <xs:element minOccurs="0" name="BarcodePositionInDoc" type="xs:int" />
      <xs:element minOccurs="0" name="BarcodeStartsWith" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ImageSource.ILINX.CommonILINX.CaptureDomain.Barcode" minOccurs="0" name="BarcodeType" type="q1:BarcodeType" />
      <xs:element minOccurs="0" name="CopyValueToIndexName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasDoLookup" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDocumentSeparator" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemoveDocumentSeparator" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BarcodeAction" nillable="true" type="tns:BarcodeAction" />
</xs:schema>